<section class="content">
    <div class="container-fluid">
        <div class="row m-t-sm">
            <div class="col-md-15">
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <div class="view-header">
                                        <div class="header-icon">
                                            <i class="pe page-header-icon pe-7s-map"></i>
                                        </div>
                                        <div class="header-title">
                                            <h3>Locales</h3>
                                            <small>
                                                Ubicación de Nuestras Tiendas
                                            </small>
                                        </div>
                                    </div>
                                    <div class="map">
                                        <google-map height="50vh" width="100%" [options]="currentMap" (mapInitialized)="handleMapInitialized($event)">
                                        </google-map>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5 class="m-t-xs">Ubicación de Nuestros Locales - Lima</h5>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="tableExample1" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Departamento</th>
                                                    <th>Distrito</th>
                                                    <th>Cantidad</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Lima</td>
                                                    <td>Santa Anita</td>
                                                    <td>3</td>
                                                    <td>
                                                        <i style="font-size: 25px;" class="pe pe-7s-look text-accent" (click)="verTiendas('Santa Anita')"></i>&nbsp;&nbsp;
                                                        <i style="font-size: 25px;" class="pe pe-7s-trash text-accent"></i>&nbsp;&nbsp;
                                                        <i style="font-size: 25px;" class="pe pe-7s-pen text-accent"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Lima</td>
                                                    <td>San Miguel</td>
                                                    <td>3</td>
                                                    <td>
                                                        <i style="font-size: 25px;" class="pe pe-7s-look text-accent" (click)="verTiendas('San Miguel')"></i>&nbsp;&nbsp;
                                                        <i style="font-size: 25px;" class="pe pe-7s-trash text-accent"></i>&nbsp;&nbsp;
                                                        <i style="font-size: 25px;" class="pe pe-7s-pen text-accent"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Lima</td>
                                                    <td>San Isidro</td>
                                                    <td>3</td>
                                                    <td>
                                                        <i style="font-size: 25px;" class="pe pe-7s-look text-accent" (click)="verTiendas('San Isidro')"></i>&nbsp;&nbsp;
                                                        <i style="font-size: 25px;" class="pe pe-7s-trash text-accent"></i>&nbsp;&nbsp;
                                                        <i style="font-size: 25px;" class="pe pe-7s-pen text-accent"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <app-lista-tiendas></app-lista-tiendas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>